<div class="product-index">
    <div class="products ">
        <div class="product1">
        <img src="../../../../assets/photos/images12.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select> <!-- 3yza amsk l selected value bta3 el select da-->
            <option value="1">1</option> 
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product2" class>
        <div class="product2">
        <img src="../../../../assets/photos/images13.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product3">
        <div class="product3">
        <img src="../../../../assets/photos/images3.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product4">
        <div class="product4">
        <img src="../../../../assets/photos/images4.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product5">
        <div class="product5">
        <img src="../../../../assets/photos/images5.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product6">
        <div class="product6">
        <img src="../../../../assets/photos/images6.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product7">
        <div class="product7">
        <img src="../../../../assets/photos/images11.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product8">
        <div class="product8">
        <img src="../../../../assets/photos/images10.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
    <div class="products product9">
        <div class="product9">
        <img src="../../../../assets/photos/images9.jpg" alt="">
        <p>bag</p>
        <p>80$</p>
        </div>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button routerLink="/cart">Add to cart</button>
    </div>
</div>