    <!-- <img class="product-image" src="../../../../assets/photos/images10.jpg" alt=""> -->
    <div class="product-container">
        <div>
        <img class="product-image" src="../../../../assets/photos/images10.jpg" alt="">
        <div>
            <p>bag</p>
        <p>80$</p>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button>Add to cart</button>
        </div>
    </div>
     
    </div>
    
