<div class="detail-container">
    <div>
        <img src="../../../../assets/photos/images10.jpg" alt="">
    </div>
    <div class="detail-item">
        <p>bag</p>
        <span>80$</span>
        <p>Carry things around town!</p>
        <select class="select-input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <button>Add to cart</button>
        <div class="back-link"><a href='#'>Back to product list</a></div>
    </div>
</div>
<!-- el page de htft7 lma aft7 wa7d mn el product-list component y3ny de child leha -->