
<div class="addedToCart">
<div class="cart-item d-none">
    <img src="../../../../assets/photos/images10.jpg" alt="">
    <div class="cart-item-details">
      <p>bag</p>
      <p>80$</p>
      <label for="">Amount:</label>
      <input type="text" value="1" class="number-input">
    </div>
</div>
<div class="cart-item d-none">
  <img src="../../../../assets/photos/images10.jpg" alt="">
  <div class="cart-item-details">
    <p>bag</p>
    <p>80$</p>
    <label for="">Amount:</label>
    <input type="text" value="1" class="number-input">
  </div>
</div>
<div class="cart-item d-none">
  <img src="../../../../assets/photos/images10.jpg" alt="">
  <div class="cart-item-details">
    <p>bag</p>
    <p>80$</p>
    <label for="">Amount:</label>
    <input type="text" value="1" class="number-input">
  </div>
</div>
<div class="cart-item d-none">
  <img src="../../../../assets/photos/images10.jpg" alt="">
  <div class="cart-item-details">
    <p>bag</p>
    <p>80$</p>
    <label for="">Amount:</label>
    <input type="text" value="1" class="number-input">
  </div>
</div>
</div>
<div class="displayFlex">
<form #userForm="ngForm">
  <!-- {{userForm.value|json}} -->
  {{userModel |json}}
    <div class="form-group">
    <label for="">Full name</label>
    <input class="form-control" #txtName type="text" name="txtName" ngModel [(ngModel)]="userModel.name" placeholder="(minimum 3 characters)">
    </div>
    <div class="form-group">
    <label for="">Address</label>
    <input class="form-control" type="text" name="addressName" ngModel [(ngModel)]="userModel.address" placeholder="(minimum 6 characters)">
    </div>
    <div class="form-group">
    <label for="">Credit card number</label>
    <input class="form-control" type="text" name="crdName" ngModel [(ngModel)]="userModel.creditCard" placeholder="(16-digit number">
    </div>
    <span>We will never share your payment details with anyone else.</span>
    <input type="submit" (click)="logMsg(txtName.value)" name="" id="" routerLink="/confirmation">
  
  </form>
</div>
<app-confirmation></app-confirmation>

